<div align="center"><h1> <%= @album.title %>  </h1></div>

<div align="center">
  <ul>
  <%= @album.artist %> <br>
  <%= @album.release_year %>
  </ul>
</div>

<div class="reviews">
  <% if user_signed_in? %>
    <%= render 'review' %>
  <% else %>
    <p> Sign in to leave a review </p>
  <% end %>
<h2> User Reviews </h2>
  <% if @album.reviews %>
    <% @album.reviews.each do |rev| %>
      <li><%= rev.review %>
        <% if rev.id.nil? %>
            <%= nil %>
        <% else %>
        -<font color="blue"> <%= rev.user.email %> </font></li>
        <% end %>

    <% end %>
  <%end%>
</div>

<div>
  <% if @album.user == current_user %>
    <%= link_to 'edit', edit_album_path %>
    <%= link_to 'delete', album_path, method: :delete,
                                 data: { confirm: "You sure?"} %>
  <% end %>
</div>
