<h1> <%= @album.title %>  </h1>

<div>
  <ul>
  <li><%= @album.artist %> </li>
  <li><%= @album.release_year %></li>
  </ul>
</div>

<div>

<h2>New Review</h2>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.collection_select :rating, Review::RATINGS, :to_s, :to_s %>

  <%= f.label :review %>
  <%= f.text_area :review %>

  <%= f.hidden_field :album_id, value: @album.id %>

  <%= f.submit %>
<% end %>
</div>

<div>
  <% if @album.user == current_user %>
    <%= link_to 'edit', edit_album_path %>
    <%= link_to 'delete', album_path, method: :delete,
                                 data: { confirm: "You sure?"} %>
  <% end %>
</div>
